*,
::after,
::before {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Nunito", sans-serif;
  color: #634b6d;
  font-weight: 300;
  line-height: 1.6;
  background: #e5eff1;
  text-align: center;
}

::selection {
  background: #e5eff1;
  /* WebKit/Blink Browsers */
  color: #ff005e;
}

::-moz-selection {
  background: #ebebeb;
  /* Gecko Browsers */
  color: #ff005e;
}

button:focus,
button:active {
  outline: none !important;
  outline: 0 !important;
}

button::-moz-focus-inner {
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
  border: none;
}

.agility {
  background: #00d68f;
}

.intelligence {
  background: #00baf3;
}

.strength {
  background: #fd316f;
}

.gray {
  background: #ddd;
}

#loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60vh;
}
